pre {
  padding: 1em;
  font-size: ($font-size-base - 2);
  margin-top: 20px;
  position: relative;
  border-radius: 2px;
  overflow: visible;

  code {
    font-family: $code-font-family;
    font-size: inherit;
    white-space: pre-wrap;
    overflow: visible;
  }

  .monaco-editor  {
    overflow: unsert;
  }

  code.hidden { display: none }
}

pre.hidden { display: none }

// page specific settings
.docs pre {
  background: #f8f8f8;

  > nav.code-menu {
    background: #f8f8f8;
  }
}

.home pre, .page pre {
  background: #ffffff;

  > nav.code-menu {
    background: #ffffff;
  }
}

pre {
  > nav.code-menu {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 999;

    button {
      display: inline-block;
      margin-right: 0.5em;
      font-family: "Open Sans", sans-serif;
      text-decoration: none !important;
      color: #a3a3a3;
      background: none;
      border: none
    }
    button.button-run:before, button.button-edit:before, button#button-share:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      padding-right: 0.5em;
    }
    button.button-run:before {
      content: "\f144";
    }
    button.button-edit:before {
      content: "\f044";
    }
    button#button-share:before {
      content: "\f064";
    }
    button#button-share:focus:before {
      // content: "\f46c";
      content: "copied";
    }
    button:hover {
      cursor: pointer;
      color: #727272;
    }
  }
}

pre.editor {
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  overflow: visible;

  .hover-contents {
    h4 {
      margin-block-start: 0.1em;
      margin-block-end: -1em;
      font-size: 1.2em;
    }
    ul {
      margin: 0;
      line-height: 1em;
    }
  }
}

#page-content-wrapper div.core-out {
  border: 1px solid #efefef;

  h4 {
    font-size: 1em;
    margin: 0.5em 0em 0 0;
    padding-left: 0.8em;
    color: #c0c0c0;
  }

  pre, pre > code.hljs.effekt {
    background-color: #ffffff;
  }
}

pre.repl {
  padding-left: 1.5em;

  & code:before {
    content: ">";
    opacity: 0.5;
    font-weight: bold;
    position: absolute;
    left: 0.6em;
    z-index: 9;
  }
}

pre.repl.editor {
  padding-left: 0.75em;
}

pre.editor-loading {
  opacity: 0.4;
}

ul.repl-output {
  background: #766b77;
  color: #efefef;
  font-family: monospace;
  padding: 1.8em 1em 1em;
  position: relative;
  border-radius: 4px;

  &:before {
    content: "output";
    position: absolute;
    top: 0.5em;
    left: 1em;
    font-size: 0.8em;
    opacity: 0.5;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.3em;
  }

  &.cleared {
    opacity: 0.5;
  }
}

.hljs-addition,
.hljs-meta,
.hljs-string,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable {
  line-height: $base-point-grid * 3;
}

.window-contents pre {
  padding: 0;
  margin: 0;
}

pre code.hljs {
  display: block;
}

code.hljs {
  display: inline;
  padding: 0.25em;
  border-radius: 4px;
}
