---
layout: default
pagetype: home
---

{% include header-nav.html %}

<header id="masthead" class="features-masthead">
    <div class="container feature-header">
        <div class="features-header-description">
            <h1 class="masthead-title">Effekt Language</h1>
            <p class="masthead-description">
              A language with lexical effect handlers and lightweight effect polymorphism
            </p>
            <a href="quickstart" class="masthead-button">Try it yourself!</a></div>
        <div class="features-image">
          <div class="pseudo-window">
            <div class="window-titlebar">
              <div class="button-close"></div>
              <div class="button-minimize"></div>
              <div class="button-maximize"></div>
            </div>
            <div class="window-contents">
          <pre><code class="language-effekt:sketch">def eager[R] { p: => R / { flip, fail, error } } =
  try { Success(p()) }
  with flip {
    resume(true) match {
      case Failure(msg) => resume(false)
      case Success(res) => Success(res)
      case ParseError(msg) => ParseError(msg)
    }
  }
  with fail { msg => Failure(msg) }
  with error { msg => ParseError(msg) }
</code></pre><small><a href="{{ site.githuburl }}/blob/master/examples/pos/parser.effekt">Full example on github</a></small>
            </div>
          </div>
        </div>
    </div>
</header>
{% if page.position != null %}
<nav class="menu-container" aria-labelledby="section-navigation">{% include menu.html %}</nav>
{% endif %}

<main id="site-main">
    <div class="warn container">
     <p>Effekt is a <strong>research-level</strong> language &mdash; use at your own risk! While we are heavily
     working on it, there are probably many bugs and many things will change in the future.
     Of course, we are happy if you <a href="docs/getting-started">try it out</a> and report your experience with it.</p>
     <p>Have fun!</p>
    </div>
    <section class="container">
        <div class="features">
        {% for feature_hash in page.features %} {% for feature in feature_hash %}
            <div class="feature-item">
                <div class="feature-item-header custom-feature-icon">
                    <div class="{{ feature[0] }}-feature-icon-wrapper"></div>
                    <h4>{{ feature[1][0] }}</h4>
                    <p>{{ feature[1][1] }}</p>
                </div>
                <a class="learn-more-button" href="{{ feature[1][2] }}"><span class="learn-more">Learn More</span></a>
            </div>
        {% endfor %} {% endfor %}
        </div>
    </section>

    <section class="quickstart">
      <div class="container">
        <div id="content">
          {{ content }}
        </div>
      </div>
    </section>

<section class="intro float-right" id="intro-handlers">
<header>
<h2>Lexical Effect Handlers</h2>
</header>
<div class="container">
  <div>
  <p>The Effekt language comes with support for <strong>effect handlers</strong> (also known as <emph>algebraic effects</emph>).</p>
</div></div>
<div class="container">
  <div>
<h3>Effects Generalize Exceptions</h3>
<p>Effect handlers are exception handlers on steroids! Like with exceptions, we first define the type of the
  exception. In Effekt, a declaration like <code class="language-effekt">yield</code> is called an <emph>effect signature</emph>.</p>

<p>Calling an effect operation (with <code class="language-effekt">do yield(42)</code>) is like throwing an exception. It
transfers the control-flow to the handler that catches (or "handles") the effect. We can also
send values to the handler (here <code class="language-effekt">n</code>).</p>
</div>
<div>
<pre><code class="language-effekt">effect yield(n: Int): Bool

def example() = {
  var produce = true;
  var n = 0;
  while (produce) {
    produce = do yield(n)
    n = n + 1
  }
  println("done")
}
</code></pre>
</div>
</div>

<div class="container">
<div>
<h3>Effect Handlers Can Resume</h3>
<p>So what's new? Effect handlers now can also <strong>resume</strong> the program that called the effect!</p>

<p>
  In our example, we handle the <code class="language-effekt">yield</code> effect by printing the number that was sent.
  Similar to <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Iterators_and_Generators">generators</a>,
  we also resume at the original call to <code class="language-effekt">yield</code>!
</p>

<p>Our example is type-safe: By declaring <code class="language-effekt">yield</code> to take an integer and return a boolean, at
  the handler we know that we receive integers and have to call <code class="language-effekt">resume</code> with a boolean value.</p>

<a class="learn-more-button" href="docs/concepts/effect-handlers"><span class="learn-more">Learn More</span></a>
</div>
<div>
<pre><code class="language-effekt:repl">try { example() } with yield { n =>
  println(n); resume(n < 3)
}
</code></pre>
</div>
</div>
</section>


<section class="intro float-right" id="intro-safety">
<header>
<h2>Effect Safety</h2>
</header>
<div class="container">
<div>
<p>Effect handlers are great, but it is easy to forget handling an effect. This is why the Effekt language
  comes with a <strong>static effect system</strong> that tells you where you forgot to handle something.
</p>
</div></div>

<div class="container">
<div>
<h3>Effects are Part of the Type</h3>
<p>The example uses a <code class="language-effekt">raise</code> effect to signal that something went wrong. This can be
seen in the return type of <code>divide</code>:</p>

<pre><code class="language-effekt:sketch">//      effect set
//       vvvvvvvvv
   Int / { raise }
// ^^^
// return type
</code></pre>

<p>The type says that <code>divide</code> will produce an integer, but it also requires <code class="language-effekt">raise</code>
to be handled at the call-site! We use curly braces to say that it is a <emph>set of effects</emph>.</p>

</div>
<div>
<pre><code class="language-effekt">effect raise(msg: String): Unit

def divide(n: Int, m: Int): Int / { raise } =
  if (m == 0) {
    do raise("Cannot divide by zero"); 0
  } else {
    n / m
  }
</code></pre>
</div>
</div>

<div class="container">
<div>
<h3>Effects are Checked</h3>
<p>Trying to define a function like <code>typeError</code> that claims it requires no effects leads
to a static type error!</p>
<blockquote><strong>Tip.</strong> Click "edit" to observe the type error and try to fix it by deleting
the type annotated on <code>typeError</code>. Hover over <code>typeError</code> to inspect the <emph>inferred</emph> type.</blockquote>
</div>
<div>
<pre><code class="language-effekt:ignore">def typeError(): Int / {} = divide(4, 0)
//                          ^^^^^^^^^^^^
//                 Unhandled effects: raise
</code></pre>
</div>
</div>
<div class="container">
<div>
<h3>Handling Effects</h3>
<p>Only programs that do not have any effects left can be executed.</p>
<p>We can for instance handle the <code class="language-effekt">raise</code> effect by printing
the message and returning <code class="language-effekt">42</code> as default value.</p>

<a class="learn-more-button" href="docs/concepts/effect-safety"><span class="learn-more">Learn More</span></a>
</div>
<div>
<pre><code class="language-effekt:repl">try { divide(4, 0)} with raise { msg =>
  println(msg); 42
}</code></pre>
</div>
</div>
</section>


<section class="intro float-right" id="intro-polymorphism">
<header>
<h2>Lightweight Effect Polymorphism</h2>
</header>
<div class="container">
<div>
<p>Tracking effects statically in the type is a great way to achieve safety. However, often, as soon as
  you start writing <emph>higher-order functions</emph> the type- and effect system starts to get
  into your way.</p>
<p>Not so in Effekt! It features a new form of effect polymorphism, which we call <strong>contextual effect polymorphism</strong>.</p>
</div></div>

<div class="container">
<div>
<h3>Effect Polymorphism</h3>
<p>
  A (higher-order) function is effect polymorphic, if it can be used with different
  argument functions, independent on the effects those argument functions use.
</p>
<p>
  Maybe one of the most famous higher-order functions is <code>map</code> on lists.
  We can invoke map with different argument functions (called <emph>blocks</emph> in Effekt).</p>
<p>
  In our examples, we call the same <code>map</code> function with different blocks that
  (a) do not use effects, (b) use built-in effects (<code>println</code>),
  (c) use user-defined effects (<code class="language-effekt">raise</code>).
</p>
<blockquote>You can notice that the last example cannot be run, since it still has unhandled effects <code class="language-effekt">raise</code>.</blockquote>
</div>
<div>
  <pre><code class="language-effekt:prelude:hide">
  import list
  </code></pre>
  <pre><code class="language-effekt:repl">[1, 2, 3].map { x => x * 2 }</code></pre>
  <pre><code class="language-effekt:repl">[1, 2, 3].map { x => println(x) }</code></pre>
  <pre><code class="language-effekt:repl">[1, 2, 3].map { x => if (x > 2) do raise("") else () }</code></pre>
  </div>
</div>

<div class="container">
<div>
<h3>Contextual Effect Polymorphism</h3>
<p>
  In Effekt, the function <code>map</code> has the signature:
</p>
<pre><code class="language-effekt:sketch">//          value argument  block argument
//            vvvvvvvvvv  vvvvvvvvvvvvvvvvvv
def map[A, B](l: List[A]) { f: A => B / {} }: List[B] / {}
//                                      ^^              ^^
//                                   no effects!     no effects!
</code></pre>
<p>
  The function <code>map</code> takes a <emph>value argument</emph> <code>l</code> and what we call a <emph>block argument</emph>
  <code>f</code>.
  For programmers familiar with effect-systems / effect polymorphism, this
  signature might come with a surprise: Neither the block argument, nor the overall result type mention any effects!
</p>
<p>
  In Effekt, we read the signature of <code>map</code> as follows:
  <blockquote>
    "Given a list and a block <code>f</code>, map cannot handle any effects of <code>f</code>. Also <code>map</code>
    itself does not require handling of any effects."
  </blockquote>
</p>
<p>If block arguments, however, do use effects, those have to be handled at the <emph>call-site</emph>:</p>
<pre><code class="language-effekt:repl">try {
  [1, 2, 3, 4].map { x => println(x); if (x > 2) do raise("abort") else () }
  println("done")
} with raise { msg => println("abort") }</code></pre>
<p>Here, the block uses the <code class="language-effekt">raise</code> effect, which is handled at the call-site of <code>map</code>.</p>
<a class="learn-more-button" href="docs/concepts/effect-polymorphism"><span class="learn-more">Learn More</span></a>
</div>
</div>
</section>
</main>

{% include footer.html %}

<script src="{{site.url}}{{site.baseurl}}/js/particles.min.js"></script>
